$grid-columns: 12;
$grid-max-width: 65em;
$base: #9739c8;
$open: 'Open Sans', sans-serif;
 
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";


$gutter : 15px;